---
import Navbar from "~/components/navbar.astro";

import { Icon as LucideIcon } from "@lucide/astro";

import "@fontsource-variable/syne";
import "@fontsource/space-mono";
import "@fontsource/vt323";

import "~/styles/resets.css";
import "~/styles/style.css";
import BackupBanner from "~/components/backup-banner.svelte";

interface Props {
  title: string;
  description: string;
  icon: typeof LucideIcon;
}

const props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/favicon.png" />

    <meta property="og:title" content="n3bula.lol" />
    <meta
      property="og:description"
      content="my personal space on the world wide web"
    />
    <meta name="og:image" content="https://n3bula.lol/og.png" />

    <meta name="twitter:title" content="n3bula.lol" />
    <meta
      name="twitter:description"
      content="my personal space on the world wide web"
    />
    <meta name="twitter:image" content="https://n3bula.lol/og.png" />

    <meta name="theme-color" content="#c4ade1" />
    <meta name="generator" content={Astro.generator} />

    <title>n3bula.lol</title>
  </head>
  <body>
    <BackupBanner client:only />

    <!-- <div class="marquee">
            <div class="track">
                <span>welcome to my site</span>
                <span>made with love and coffee</span>
                <span>welcome to my site</span>
                <span>made with love and coffee</span>
            </div>
        </div> -->

    <div class="wrapper">
      <Navbar />

      <section class="page-title">
        <div class="content">
          <h1 set:html={props.title}></h1>
          <p set:html={props.description}></p>
        </div>
        {
          props.icon && (
            <div class="icon">
              <props.icon size={112} />
            </div>
          )
        }
      </section>

      <slot />

      <footer>
        <p>&copy; 2022-2026 n3bula</p>
        <p>
          Made with <a href="https://astro.build">Astro</a>, hosted on <a
            href="https://nekoweb.org">Nekoweb</a
          > :3
        </p>
      </footer>
    </div>
  </body>
</html>
